server:
  port: 8080
  servlet:
    context-path: /api/v1/library

spring:
  config:
    import: optional:file:.env.properties

  application:
    name: library-management-system


  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      format_sql: true
      dialect: org.hibernate.dialect.PostgreSQLDialect


  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_APP_USERNAME}
    password: ${MAIL_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connection timeout: 5000
        transport:
          protocol: smtp
        debug: true




logging:
  level:
    org.springframework: INFO
    com.example.library: DEBUG
    springframework.core.env: DEBUG
